<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Property</title>
  </head>
  <body>
    <h1>Add New Property</h1>

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Property Name</label>
          <input type="text" class="form-control" id="id_name" name="name">
        </div>
        <div class="form-group">
          <label for="id_address">Property Address</label>
          <textarea class="form-control" id="id_address" name="address" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

  </body>
</html>