<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Person</title>
  </head>
  <body>
    <h1>Add New Person</h1>

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Person Name</label>
          <input type="text" class="form-control" id="id_name" name="name">
        </div>
        <div class="form-group">
          <label for="id_department">Department</label>
          <select class="form-control" id="id_department" name="department">
            {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

  </body>
</html>