{% extends 'objectives/base.html' %}

{% block content %}

  <div class="container">

    <h1>Statuses</h1>

    <div class="border-top pt-3">
      <small class="text-muted">
          <a class="btn btn-primary" href="{% url 'objectives-new-status'%}">Create a new Status</a>
      </small>
    </div><br>

      <table class="table table-hover">
      <tr>
        <th>Status Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      {% for status in statuses %}
        <tr>
         <td>{{ status.status }}</td>
         <td>{{ status.description }}</td>
         <td><a class="btn btn-info" href="{% url 'objectives-update-status' status.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    </table>

  </div>

{% endblock content %}}